server:
  port: 2333

lavalink:
  server:
    password: "changeme"
    player:
    updateInterval: 5
    stuckThresholdMs: 10000
    sources:
      youtube: true
      soundcloud: true
      bandcamp: true
      twitch: true
      vimeo: true
      http: true
      local: false

    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: HIGH
    trackStuckThresholdMs: 10000

spring:
  main:
    banner-mode: off

logging:
  level:
    root: INFO
    
